.bitbucketplugin-overview-link.count {
  font-weight: bold;
}

.bitbucketplugin-overview-link.incomplete {
  color: black;
}

.bitbucketplugin-overview-link.nosecrets {
  color: green;
}

.bitbucketplugin-overview-link.hassecrets a {
  color: red;
}

.bitbucketplugin-overview-link.failed a {
  color: red;
}
